doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 照片墙
    // Bootstrap CSS
    link(rel='stylesheet', href='${request.contextPath}/assets/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='${request.contextPath}/assets/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='${request.contextPath}/assets/libs/wookmark/css/main.css')

    //app.css
    link(rel='stylesheet', href='${request.contextPath}/assets/css/app.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    script(src='${request.contextPath}/assets/libs/grid3d/modernizr.custom.js')
    | <!--[if lte IE 9]> <script src="./assets/libs/html5shiv/dist/html5shiv.min.js"></script>
    | <script src="./assets/libs/respond.js/dest/respond.min.js"></script><![endif]-->
    | <!--[if lte IE 8]> <p class="text-center" style="display:block;background-color:#eaddac;padding:5px;color:#900;font-size:16px;">对不起，本网站不支持IE8以及IE8以下版本，为获得更好的体验，建议您更新为IE9及以上版本，本网站推荐使用谷歌浏览器，祝您生活愉快。</p> <![endif]-->
  body(style="position: relative;")
    .app-header
      include ../common/navigation
    .app-content
      .app-wall#grid3d.grid3d.vertical
        .wall-pictures-wrap.grid-wrap(role='main')
          .wall-pictures#container.tiles-wrap.animated.grid
            | <#list wallList as wall>
            figure.wall-pic-item(wall-item-id='${wall.id}')
              .wall-item-img-wrap
                img(src='${request.contextPath}/assets/images/demos/1 (${wall_index+1}).jpg')
              .wall-item-desc-wrap
                p.wall-item-desc ${wall.desc}
              .wall-item-opts
            | </#list>
            // End of grid blocks.content
        .wall-detail-content.content
          .wall-detail-wrap#contentDetail
            .wall-detail-img-wrap
              img.wall-detail-img(src="${request.contextPath}/assets/images/demos/1 (1).jpg")
            p.wall-detail-text
              | 内容内容内容内容内容内容内容内容内容内容内容内容.
            p.wall-detail-text
              | 内容内容内容内容内容内容内容.
          span.loading
          span.icon.close-content
            i.fa.fa-times
    .app-footer
    // jQuery
    script(src='${request.contextPath}/assets/libs/jquery/dist/jquery.min.js')
    // Bootstrap JavaScript
    script(src='${request.contextPath}/assets/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='${request.contextPath}/assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='${request.contextPath}/assets/libs/wookmark/wookmark.min.js')
    script(src='${request.contextPath}/assets/libs/grid3d/classie.js')
    script(src='${request.contextPath}/assets/libs/grid3d/helper.js')
    script(src='${request.contextPath}/assets/libs/grid3d/grid3d.js')
    script(src='${request.contextPath}/assets/js/wall.js')
