doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 登录
        // Bootstrap CSS
        link(rel='stylesheet', href='${request.contextPath}/assets/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='${request.contextPath}/assets/libs/font-awesome/css/font-awesome.min.css')
        //app.css
        link(rel='stylesheet', href='${request.contextPath}/assets/css/app.css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        | <!--[if lte IE 9]> <script src="${request.contextPath}/assets/libs/html5shiv/dist/html5shiv.min.js"></script>
        | <script src="${request.contextPath}/assets/libs/respond.js/dest/respond.min.js"></script><![endif]-->
        | <!--[if lte IE 8]> <p class="text-center" style="display:block;background-color:#eaddac;padding:5px;color:#900;font-size:16px;">对不起，本网站不支持IE8以及IE8以下版本，为获得更好的体验，建议您更新为IE9及以上版本，本网站推荐使用谷歌浏览器，祝您生活愉快。</p> <![endif]-->
    body
        .app-register
            .register-bg
            .register-wrap
                .register-logo
                    h1
                        a(href="/personal/profile.html") logo
                .register-form
                    .register-desc
                        h3 注册
                    .username-wrap
                        span.reg-label 用户名:
                        input(type="text")
                    .password-wrap
                        span.reg-label 密码:
                        input(type="text")
                    .password-wrap
                        span.reg-label 重复密码:
                        input(type="text")
                    .reg-btn-wrap
                        button(type="button") 注册
                    .go-login
                        i.fa.fa-arrow-right
                        a(href="/login.html") 已有账号?去登录!
                    //.v-code-wrap
                        input(type="text")
                        img(src="")
        // jQuery
        script(src='${request.contextPath}/assets/libs/jquery/dist/jquery.min.js')
        // Bootstrap JavaScript
        //script(src='${request.contextPath}/assets/libs/bootstrap/dist/js/bootstrap.min.js')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        //script.
          //获取浏览器的高度
          var bHeight = window.innerHeight;
          $(".app-index-banner>img").css("height",bHeight-85);
