doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 首页
        // Bootstrap CSS
        link(rel='stylesheet', href='${request.contextPath}/assets/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='${request.contextPath}/assets/libs/font-awesome/css/font-awesome.min.css')
        //app.css
        link(rel='stylesheet', href='${request.contextPath}/assets/css/app.css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        | <!--[if lte IE 9]> <script src="${request.contextPath}/assets/libs/html5shiv/dist/html5shiv.min.js"></script>
        | <script src="${request.contextPath}/assets/libs/respond.js/dest/respond.min.js"></script><![endif]-->
        | <!--[if lte IE 8]> <p class="text-center" style="display:block;background-color:#eaddac;padding:5px;color:#900;font-size:16px;">对不起，本网站不支持IE8以及IE8以下版本，为获得更好的体验，建议您更新为IE9及以上版本，本网站推荐使用谷歌浏览器，祝您生活愉快。</p> <![endif]-->
    body
        .app-profile
            .personal-header
                nav.navbar.navbar-default
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/') LOGO
                    // Collect the nav links, forms, and other content for toggling
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href='/personal/picture.html')
                                    | 发图
                                    span.sr-only
                            li
                                a(href='/personal/word.html') 发文
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='#') Link
                            li.dropdown
                                a.dropdown-toggle(href='#', data-hover="dropdown" data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | 我的
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='#') 个人中心
                                    li
                                        a(href='#') 设置
                                    li.divider(role='separator')
                                    li
                                        a(href='#') 退出登录
                        // /.navbar-collapse
                    // /.container-fluid
            //.profile-header
                .profile-logo
                .profile-nav
                .profile-info
            .profile-container
                .profile-info-wrap
                    .profile-head-box
                        .headimg-wrap
                            .img-circle-wrap
                                img.img-circle(src="/assets/images/demos/1 (3).jpg")
                            .username
                                h4 王大锤
                        .info-wrap
                            .signature
                                p
                                    i.fa.fa-caret-right
                                    span 那些吹过的牛逼都实现了吗？
                            .info-tags
                                .tag-item
                                    i.fa.fa-leaf
                                    span 计算机专业计算机专业计算机专业计算机专业计算机专业
                                .tag-item
                                    i.fa.fa-leaf
                                    span 音乐小天才
                                .tag-item
                                    i.fa.fa-leaf
                                    span 代码高手
                                .tag-item
                                    i.fa.fa-leaf
                                    span 老司机
                                .tag-item
                                    i.fa.fa-leaf
                                    span 老司机
                                .tag-item
                                    i.fa.fa-leaf
                                    span 老司机
                                .tag-item
                                    i.fa.fa-leaf
                                    span 老司机
                    .profile-info-box
                        //左侧导航
                        .info-nav
                            .list-group
                                .list-item-title
                                    | 个人资料
                                a.list-group-item(href='#') 基本信息
                                a.list-group-item(href='#') 其他
                        //右侧内容
                        .info-content
                            .info-box
                                .info-box-headding
                                    h3 个人资料
                                .info-box-body
                                    .info-list-item
                                        span.title 姓名：
                                        span.detail 王大锤
                                    .info-list-item
                                        span.title Email：
                                        span.detail email@email.com
                                    .info-list-item
                                        span.title 电话：
                                        span.detail 18800000000
                            .info-box
                                .info-box-headding.clearfix
                                    h3.pull-left 个人资料
                                    ul.nav.nav-tabs.pull-right(role='tablist')
                                        li.active(role='presentation')
                                            a(href='#font', aria-controls='home', role='tab', data-toggle='tab') 文字
                                        li(role='presentation')
                                            a(href='#picture', aria-controls='picture', role='tab', data-toggle='tab') 图片
                                        li(role='presentation')
                                            a(href='#article', aria-controls='article', role='tab', data-toggle='tab') 文章
                                .info-box-body
                                    //div(role='tabpanel')
                                    // Nav tabs
                                    //ul.nav.nav-tabs(role='tablist')
                                        li.active(role='presentation')
                                            a(href='#font', aria-controls='home', role='tab', data-toggle='tab') 文字
                                        li(role='presentation')
                                            a(href='#picture', aria-controls='picture', role='tab', data-toggle='tab') 图片
                                        li(role='presentation')
                                            a(href='#article', aria-controls='article', role='tab', data-toggle='tab') 文章
                                    // Tab panes
                                    .tab-content
                                        #font.tab-pane.active(role='tabpanel')
                                            table.table.table-hover
                                                thead
                                                    tr
                                                        th 文字
                                                tbody
                                                    tr
                                                        td 文字
                                        #picture.tab-pane(role='tabpanel')
                                            table.table.table-hover.table-striped
                                                thead
                                                    tr
                                                        th 文字
                                                tbody
                                                    tr
                                                        td 文字
                                        #article.tab-pane(role='tabpanel')
                                            table.table.table-hover.table-condensed
                                                thead
                                                    tr
                                                        th 文字
                                                tbody
                                                    tr
                                                        td 文字

                            .info-box
                                .info-box-headding
                                    h3 个人资料
                                .info-box-body
        script(src='${request.contextPath}/assets/libs/jquery/dist/jquery.min.js')
        script(src='${request.contextPath}/assets/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='${request.contextPath}/assets/libs/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
        script.
          $('.dropdown-toggle').dropdownHover();


