doctype html
html(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 首页
        // Bootstrap CSS
        link(rel='stylesheet', href='${request.contextPath}/assets/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='${request.contextPath}/assets/libs/font-awesome/css/font-awesome.min.css')
        //app.css
        link(rel='stylesheet', href='${request.contextPath}/assets/css/app.css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        | <!--[if lte IE 9]> <script src="${request.contextPath}/assets/libs/html5shiv/dist/html5shiv.min.js"></script>
        | <script src="${request.contextPath}/assets/libs/respond.js/dest/respond.min.js"></script><![endif]-->
        | <!--[if lte IE 8]> <p class="text-center" style="display:block;background-color:#eaddac;padding:5px;color:#900;font-size:16px;">对不起，本网站不支持IE8以及IE8以下版本，为获得更好的体验，建议您更新为IE9及以上版本，本网站推荐使用谷歌浏览器，祝您生活愉快。</p> <![endif]-->
    body
        .app-personal-word
            .personal-header
                nav.navbar.navbar-default
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/') LOGO
                    // Collect the nav links, forms, and other content for toggling
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href='/personal/picture.html')
                                    | 发图
                                    span.sr-only
                            li.active
                                a(href='/personal/word.html') 发文
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='#') Link
                            li.dropdown
                                a.dropdown-toggle(href='#', data-hover="dropdown" data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    | 我的
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/personal/profile.html') 个人中心
                                    li
                                        a(href='#') 设置
                                    li.divider(role='separator')
                                    li
                                        a(href='#') 退出登录
                        // /.navbar-collapse
                    // /.container-fluid
            //.profile-header
                .profile-logo
                .profile-nav
                .profile-info
            .profile-container

        script(src='${request.contextPath}/assets/libs/jquery/dist/jquery.min.js')
        script(src='${request.contextPath}/assets/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='${request.contextPath}/assets/libs/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
        script.
            $('.dropdown-toggle').dropdownHover();


